global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend servers

backend servers
    balance roundrobin
    server moodle1 moodle1:8080 check
    server moodle2 moodle2:8080 check
